@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>This is a Web Application built in .NET core for my Advanced Databases ICA 1 module.</p>
<p>It is built from a previously built database to demonstrate use of an SQL database in an application.</p>