@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>University email:</strong> <a href="mailto:p4029206@live.tees.ac.uk">p4029206@live.tees.ac.uk</a><br />
</address>
