@model EMRApplication.Models.RoleViewModels.Role
@{
    ViewData["Title"] = "Create role";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"].</title>
</head>
<body>
    <h4>@ViewData["Title"]</h4>

    <hr />

    <b>Note: Created roles must be programmed into the web application to have an effect on functionality.</b>

    <hr />

    <form asp-action="Create" asp-controller="Role">
        @Html.LabelFor(model => model.RoleName)
        @Html.EditorFor(model => model.RoleName)
        <input type="submit" />
    </form>

    <hr />
</body>
</html>
